  <article class="listing">
    <div class="details">
      <h2>{{list.brand}}</h2>
      <div class="detail owner">
        <span>Rating:</span> {{list.rating}}
      </div>
      <div class="detail type">
        <span>Rate: Rs.</span> {{list.rate}}
      </div>
    </div>
  </article>
