<form>
  <label class="notif">* Please enter the Mobile-Id to remove the mobile name</label>
  <br>
  <label>Mobile-Id</label>
    {{input type="text" placeholder="Enter mobile-id" value=mobid}}
  <br>
  <button {{action "deletearrival"}} value="Submit" id="submitbtn">Delete mobile</button>
</form>
