<div class="hme">
<h1>Mobile-ShowRoom</h1>
 <ol class="listings">
   <li>
     {{#link-to "samsung"}}
     Samsung
      {{/link-to}}
    </li>
   <li>
     {{#link-to "nokia"}}
     Nokia
     {{/link-to}}
   </li>
   <li>
     {{#link-to "apple"}}
     Apple
     {{/link-to}}
  </li>
 </ol>
 <!-- <button onclick={{action "gotoapple"}}>
   Add a mobile
 </button> -->

 <button {{action "gotonewform"}}>Add a record</button>
 <button {{action "view_data"}}>View New Arrivals</button>
  </div>
