<h1>Mobile-ShowRoom</h1>
 <ol>
   <li>
     {{#link-to "samsung"}}
     Samsung
      {{/link-to}}
    </li>
   <li>
     {{#link-to "samsung"}}
     Nokia
     {{/link-to}}
   </li>
   <li>
     {{#link-to "apple"}}
     Apple
     {{/link-to}}
  </li>
 </ol>
